<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> aria-hidden="true" -->

<div class="modal fade" id="modalFormInit" aria-labelledby="exampleModalLabel" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content d-flex justify-content-center">
            <div class="modal-body">

                <div id="contenedor" style="text-align: center;">
                    <br>
                    <h2>Faltan:</h2>
                    <div id="contador" style="font-size: 40px; font-weight: bold;"></div>
                    <p>(Días - Horas - Minutos - Segundos)</p>
                    <br>
                    <h4><i>¡Para que empiece el Festival!</i></h4>
                </div>

                <!-- <h2>Bienvenido</h2> -->

                <!--START FORM-->
                <!-- <form [formGroup]="modalForm">
                    <div class="form-group">

                        <label for="nameForm" aria-placeholder="nombre"></label>
                        <input type="text" formControlName="nombre" class="form-control" id="nameForm" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && fm.nombre.errors }">

                        <label for="lastNameForm" aria-placeholder="apellido"></label>
                        <input type="text" formControlName="apellido" class="form-control" id="lastNameForm" placeholder="Apellido" [ngClass]="{ 'is-invalid': submitted && fm.apellido.errors }">

                        <label for="exampleInputEmail1" aria-placeholder="email"></label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && fm.email.errors }">

                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con otras personas.</small>

                        <label for="telForm" aria-placeholder="telefono"></label>
                        <input type="tel" formControlName="phone" class="form-control" id="telForm" placeholder="Teléfono" [ngClass]="{ 'is-invalid': submitted && fm.phone.errors }">

                        <label for="selectEntity"></label>
                        <select class="form-control form-control-sm" formControlName="selectSector" id="selectEntity">
                            <option value="" selected hidden>Seleccione su sector</option>
                            <option value="gobierno">Gobierno</option>
                            <option value="empresa">Empresa</option>
                            <option value="gastronomico">Gastronómico</option>
                            <option value="medios">Medios de Comunicación</option>
                            <option value="turismo">Turismo</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>

                    <!-- Check 1 -->
                <!-- <div class="form-group form-check d-flex justify-content-start">
                    <label class="form-check-label formCheckbox" for="exampleCheck1">Deseo participar del sorteo.</label>
                    <input type="checkbox" class="form-check-input formCheckbox" name="dealtype[]" id="exampleCheck1">
                </div> -->
                <!-- data-dismiss="modal" -->
                <!--<button #buttonCloseModal type="button" class="btn btnStyle" (click)="onSubmit()" [attr.data-dismiss]="modalForm.valid ?'modal' : ''">Continuar</button>
                </form> -->
                <!-- [attr.data-dismiss]="modalForm.valid ?'modal' : ''" END FORM -->

            </div>

        </div>
    </div>
</div>