<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> aria-hidden="true" -->

<div class="modal fade" id="modalFormInit" aria-labelledby="exampleModalLabel" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center">
            <div class="modal-body">

                <h2>Bienvenido</h2>

                <!--START FORM-->
                <form [formGroup]="modalForm">
                    <div class="form-group">

                        <label for="nombreForm" aria-placeholder="nombre completo"></label>
                        <input type="text" formControlName="completeName" class="form-control" id="nombreForm" placeholder="Nombre Completo" [ngClass]="{ 'is-invalid': submitted && fm.completeName.errors }">

                        <label for="exampleInputEmail1" aria-placeholder="email"></label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && fm.email.errors }">

                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con otras personas.</small>

                        <label for="telForm" aria-placeholder="telefono"></label>
                        <input type="tel" formControlName="phone" class="form-control" id="telForm" placeholder="Teléfono" [ngClass]="{ 'is-invalid': submitted && fm.phone.errors }">

                        <label for="questionForm" aria-placeholder="telefono"></label>
                        <input type="text" formControlName="question" class="form-control" id="questionForm" placeholder="¿Cómo conseguiste la entrada?" [ngClass]="{ 'is-invalid': submitted && fm.question.errors }">

                    </div>

                    <!-- Check 1 -->
                    <div class="form-group form-check d-flex justify-content-start">
                        <label class="form-check-label formCheckbox" for="exampleCheck1">Quedar registrado en la base de datos</label>
                        <input type="checkbox" class="form-check-input formCheckbox" name="dealtype[]" id="exampleCheck1">
                    </div>

                    <!-- Check 2 -->
                    <div class="form-group form-check d-flex justify-content-start">
                        <label class="form-check-label formCheckbox" for="exampleCheck2">Suscribirme a noticias</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    </div>
                    <!-- [attr.data-dismiss]="modalForm.valid ?'modal' : ''" -->
                    <button #buttonCloseModal type="button" class="btn btnStyle" (click)="onSubmit()" [attr.data-dismiss]="modalForm.valid ?'modal' : ''">Continuar</button>
                </form>
                <!--END FORM data-dismiss="modal"-->

            </div>

        </div>
    </div>
</div>