.container {
    padding: 55px 0 20px 0;
    text-align: center;
}

#carouselExampleInterval {
    max-width: 700px;
    max-height: 550px;
}

.fondo {
    background-image: url('../../../../assets/images/fondo_quesos_claro.jpg');
    background-size: cover;
    min-height: 97.5vh;
    padding-bottom: 80px;
}

.edicionPrincipal {
    font-weight: bold;
    font-size: 38px;
    color: black;
}

p {
    margin: 0 0;
}

.edicionSecundarias {
    font-weight: bold;
    margin: 0 0;
    font-size: 25px;
    color: black;
}

.carousel {
    padding-top: 15px;
    max-width: 900px;
    max-height: 550px;
    margin: 0 auto;
    text-align: center;
}

.imgCarousel {
    max-width: 700px;
    max-height: 550px;
}

@media screen and(max-width:362px) {
    .col-sm {
        padding: 0;
    }
    .row {
        margin: 0;
    }
}