<div class="fondo overflow-auto">

    <div class="titleEventosPasados">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="edicionSecundarias" (click)="cambioEvento(anioEventoAntes)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                        </svg> EDICIÓN {{anioEventoAntes}}
                    </p>
                </div>
                <div class="col-sm">
                    <p class="edicionPrincipal">EDICIÓN {{anioEvento}}</p>
                </div>
                <div class="col-sm">
                    <p class="edicionSecundarias" (click)="cambioEvento(anioEventoDespues)">EDICIÓN {{anioEventoDespues}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                        </svg>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let img of eventos,let i = index" class="carousel-item" [ngClass]="{'active': i == 1}" data-interval="2000">
                <img src="../../../../assets/images/edicioonesPasadas/{{anioEvento}}/{{i+1}}.jpg" class="d-block w-100 imgCarousel">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>