.centerCards {
    margin-top: 50px;
}

.fondoPageInit {
    background-image: url("../../../assets/images/fondo\ con\ quesos.jpg");
    background-size: cover;
    padding: 0;
}

.card {
    max-width: 35rem;
}

.card-img-top {
    width: 100%;
    height: 100% !important;
}
