<app-modal-form></app-modal-form>
<div class="container-fluid fondoPageInit p-0 vh-100 overflow-hidden">
    <h1 class="titlePageInit">LA NOCHE DE NUESTROS QUESOS</h1>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm centerCards p-0">
                <div class="card mx-auto" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>20:30 hs</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Invitados con cajas (quienes participarán de una cata de quesos cerrada de 7 quesos) con Andres Chaijale y Gustavo Cifre de ESIL, coordina y anima Ale Tavarone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm centerCards p-0">
                <div class="card mx-auto" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">

                    <!-- TITULO IMAGEN -->
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>21:15 hs</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Clase de Cocina a los invitados especiales (no reciben cajas)
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="margin-top: 30px;">
                    <div class="col-sm centerCards ">

                        <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">


                            <div class="card-body">
                                <p class="card-text">
                                    Invitados con cajas (quienes participarán de una cata de quesos cerrada de 7 quesos) con Andres Chaijale y Gustavo Cifre de ESIL, coordina y anima Ale Tavarone.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm centerCards">
                        <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">

                            <!-- TITULO IMAGEN -->
                            <div class="orderTextOfImage">
                                <h3>Horario de conexión</h3>
                                <span>16/12</span>
                                <span>21:15 hs</span>
                            </div>

                            <div class="card-body">
                                <p class="card-text">Clase de Cocina a los invitados especiales (no reciben cajas).
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div>
        </div>


        <div class="cartadequesos">
            <p class="font-weight-bolder">Cata de quesos cordobeses</p>
            <div class="textoCata">
                <p class="font-weight-normal text-break"><strong> Hacer quesos es un arte que se remonta a miles de
        años,</strong> es una manera de disponer los valiosos componentes de la leche de forma concentrada y apetitosa. Es también uno de los procesos de fermentación más extendidos del mundo, que tiene a las bacterias como el auténtico corazón de la
                    fabricación. Los queseros son verdaderos expertos, capaces de manejar y amalgamar todas las variables físico - químicas y fermentativas que están presentes en un proceso tanto artesanal como industrial.
                    <strong>Alquimistas.</strong></p>
                <br>
                <p class="font-weight-normal text-break"><strong> Arte y ciencia se fusionan </strong> para lograr este producto, que es uno de los alimentos más variados del mundo, por lo que no es posible hablar de un proceso uniforme de fabricación. Cada tipo de queso tiene criterios específicos
                    de procesamiento.</p>

                <br>
                <p class="font-weight-normal text-break"> Las pequeñas y medianas empresas lácteas, agrupadas en <strong> Apymel
        Córdoba,</strong> conforman una cadena de productores apasionados y en busca de la calidad constante, y son parte de nuestro gran orgullo como Provincia. </p>

                <br>
                <p class="font-weight-normal text-break"> En esta oportunidad, hemos armado un<strong> pequeño recorrido de 7
        pasos </strong> para saborear y disfrutar de algunos de sus productos, ordenados por familias de quesos y sus características. </p>
                <br>

                <ol>
                    <li>
                        <p class="font-weight-normal text-break">
                            En primer lugar, probaremos quesos de <strong>la familia denominada “Blandos”,</strong> algunos ejemplos de este grupo son el Queso Cuartirolo, el Cremoso, el Por Salut y el Taleggio. Buscaremos identificar la frescura, destacando
                            la presencia láctea en sus matices de sabores. También <strong>apreciaremos sus texturas suaves y
            untuosas, </strong>con gran presencia de humedad.
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            En segundo lugar, pasaremos por <strong>la familia de “Quesos Hilados”,</strong> siendo el referente el Queso Mozzarella, que tiene una consistencia semidura a semiblanda, una textura donde se destacan la fibrosidad y elasticidad
                            de la pasta que se han logrado mediante un proceso térmico - mecánico. Presenta <strong>sabor suave,
            agradable y levemente ácido.
          </strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            Luego entraremos al mundo de los quesos <strong>“Semiduros sin ojos”, </strong> alguno de ellos son el Queso Danbo y el Tybo. Son de consistencia semidura y elástica, de masa compacta, lisa, de olor poco acentuado; con
                            <strong>sabores suaves, algo dulces y de buen aroma.</strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            Siguiendo el recorrido <strong>erá el turno de los “Semiduros con ojos”,</strong> donde el más representativo de este grupo es el Queso Emmenthal, pero también encontramos dentro de esta familia al Gruyere, Gruyerito, Fontina
                            y Pategrás, entre otros. Son de pasta firme, de consistencia elástica, donde apreciaremos que los ojos característicos son redondos, bien definidos, brillosos y distribuidos de manera homogénea. El tamaño de los ojos dependerá
                            de qué tipo de quesos estemos eligiendo. Son de
                            <strong>sabor agradable, dulce, y aroma bien desarrollado.</strong> Los quesos con ojos de mayor tamaño suelen tener un sabor algo más intenso.
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            En esta instancia, <strong>apreciaremos los quesos “Enmohecidos” y Gourmet,</strong> como el Queso Camembert y el Brie, que son aquellos sutiles y delicados, cubiertos por mohos blanquecinos en su corteza, de la especie Penicillium
                            Camemberti o Candidum, y cuya
                            <strong>masa es untuosa, homogénea, de sabor ligeramente picante y aroma característico </strong> más o menos intenso, según el grado de maduración que presente, muy agradable al paladar. Respecto a los Quesos Gourmet, son
                            productos que se distinguen por tener un proceso de elaboración algo especial o por la presencia de agregados que lo terminan caracterizando.
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            En el sexto paso <strong>será el turno de los “Duros”,</strong> como el Queso Parmesano, Reggiano, Reggianito, Sbrinz o Sardo. Estos son quesos de baja humedad, de consistencia dura, de textura compacta, quebradiza y granulosa.
                            Son aquellos con mayor tiempo de maduración, lo que produce
                            <strong>notas más intensas, agradables, con un leve picor en su sabor y con una textura única,
          </strong>deales para rallar.
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            Cerrando este recorrido, hemos dejado para el <strong>final a los Quesos Azules,</strong> quesos de leche de vaca, de oveja y de cabra que tienen en su pasta cultivos de Penicillium Roqueforti añadidos al producto final y que
                            le proporcionan las características distintivas. Estos son de
                            <strong>consistencia semidura desmenuzable o semiblanda pastosa, de textura abierta, </strong>con desarrollo de mohos distribuidos de manera razonablemente uniforme, con vetas características de color verde, verde azulado o
                            verde grisáceo. De olor acentuado y sabor más o menos picante.
                        </p>
                    </li>
                </ol>
                <p class="font-weight-normal text-break"><strong>RECOMENDACIONES</strong></p>
                <ul>
                    <li>
                        <p class="font-weight-normal text-break">
                            <strong>
            Retirar el box de quesos de la heladera una hora antes de la conexión, sacar el plástico para
            que se atemperen y puedan manifestar
            todos los sabores y aromas propios de cada variedad.
          </strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            <strong>
            Elegir un lugar con buena luz, tranquilo y ventilado para realizar la actividad.
          </strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            <strong>
            Contar con un buen cuchillo, tabla, plato, y servilletas de papel.
          </strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            <strong>
            Sugerimos tener manzanas verdes cortadas en gajos y sumergidas en un bol con agua, para consumir
            entre queso y queso, y así limpiar el paladar.
          </strong>
                        </p>
                    </li>
                    <li>
                        <p class="font-weight-normal text-break">
                            <strong>
            Tener agua fresca para beber.
          </strong>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title" id="exampleModalCenterTitle">CATA DE QUESOS</h5>
                    </div>
                    <div class="modal-body">
                        <p class="font-weight-normal text-break textCodigos">
                            En el interior de la caja encontraras el código de ingreso.
                        </p>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="modal-footer" style="align-items: center;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                        <button type="button" class="btn btn-warning">INGRESAR</button>
                    </div>
                </div> -->

        <!-- Modal -->
        <form [formGroup]="formCodigo" (ngSubmit)="openStream()">
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title" id="exampleModalCenterTitle">CATA DE QUESOS</h5>
                        </div>
                        <div class="modal-body">
                            <p class="font-weight-normal text-break textCodigos">
                                En el interior de la caja encontraras el código de ingreso.
                            </p>
                            <input formControlName="codigoIngreso" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="modal-footer" style="align-items: center;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                            <button type="submit" class="btn btn-warning" [disabled]="formCodigo.invalid">INGRESAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>