<app-modal-form></app-modal-form>
<div class="container-fluid fondoPageInit">
    <h1 class="titlePageInit">LA NOCHE DE NUESTROS QUESOS</h1>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm centerCards p-0">
                <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>{{EventosStream[0]?.fechaEvento}} hs</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Invitados con cajas (quienes participarán de una cata de quesos cerrada de 7 quesos) con Andres Chaijale y Gustavo Cifre de ESIL, coordina y anima Ale Tavarone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm centerCards p-0">
                <div class="card mx-auto border-0">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">

                    <!-- TITULO IMAGEN -->
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>{{EventosStream[1]?.fechaEvento}} hs</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Clase de Cocina a los invitados especiales (no reciben cajas)
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="container-fluid">
                <div class="row" style="margin-top: 30px;">
                    <div class="col-sm centerCards ">

                        <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">


                            <div class="card-body">
                                <p class="card-text">
                                    Invitados con cajas (quienes participarán de una cata de quesos cerrada de 7 quesos) con Andres Chaijale y Gustavo Cifre de ESIL, coordina y anima Ale Tavarone.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm centerCards">
                        <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80" alt="cheese1">

                             TITULO IMAGEN 
                            <div class="orderTextOfImage">
                                <h3>Horario de conexión</h3>
                                <span>16/12</span>
                                <span>21:15 hs</span>
                            </div>

                            <div class="card-body">
                                <p class="card-text">Clase de Cocina a los invitados especiales (no reciben cajas).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div id="footer" class="container-fluid fixed-bottom wh-100">
            <div class="footer">
                <span>@..........</span>
            </div>
        </div>


        <!-- Modal -->
        <form [formGroup]="formCodigo" (ngSubmit)="openStream()">
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title" id="exampleModalCenterTitle">CATA DE QUESOS</h5>
                        </div>
                        <div class="modal-body">
                            <p class="font-weight-normal text-break textCodigos">
                                En el interior de la caja encontraras el código de ingreso.
                            </p>
                            <input formControlName="codigoIngreso" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="modal-footer" style="align-items: center;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                            <button type="submit" class="btn btn-warning" [disabled]="formCodigo.invalid">INGRESAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- TOAST -->
       <!-- <button (click)="Toast()">Shooow</button> -->
    </div>