.centerCards {
    margin-top: 50px;
}

.fondoPageInit {
    background-image: url("../../../assets/images/fondo_tabla.jpg");
    background-size: cover;
    padding: 0;
}

.card {
    max-width: 35rem;
    cursor: pointer;
    margin-bottom: 3rem;
    
}

.card-body{
    max-height: 105px;
    padding: 12px;
}


.card-text {
    font-size: 16px;
    margin-bottom: 4rem;
    
}

.orderTextOfImage{
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    bottom: 38px;
    color:white;
    
}

.orderTextOfImage > h3{
    font-size: 19px;
    font-weight: 600;
}

.orderTextOfImage > span{
    font-size: 18px;
    font-weight: 600;
}


.card-img-top {
    width: 100%;
    height: 100% !important;
    border-radius: 0%;
}

.cartadequesos {
   margin-top: 4rem;
   padding: 1rem;
   background-color: white;
}

.font-weight-bolder {
    font-size: 50px;
    text-align: center;
    margin-top: 8px;
}

.textoCata {
    align-items: center;
    text-align: left;
    margin: 10px auto;
    max-width: 55rem;
}

.modal {
    border-radius: 0px;
}

.modal-header {
    align-items: center;
    text-align: center;
    background-color: #343a40;
    color: #e8be33;
}

.modal-title {
    margin: 0 auto;
}

.textCodigos {
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.btnIngresar {
    background-color: #e8be33;
    color: white;
}

.titlePageInit{
    text-align: center;
    color: white;
    margin-top: 2rem;
}

@media screen and (max-width: 878px) {
    .cartadequesos {
        font-size: 12px;
        margin: 0 15px;
    }
    .font-weight-bolder {
        font-size: 30px;
    }

    .card-text {
        font-size: 14px;
        margin-bottom: unset;
    }
}
