<div *ngIf="yaRegistrado">
    <app-modal-form></app-modal-form>
</div>
<div class="container-fluid fondoPageInit overflow-auto">
    <h1 class="titlePageInit">La Noche de Nuestros Quesos</h1>
    <div class="container-fluid cardDv">
        <div class="row">
            <div class="col-sm centerCards p-0">
                <!-- CARD 1 -->
                <div class="card mx-auto border-0" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="card-img-top" src="../../../assets/images/TRANSMISIÓN .png" alt="cheese1">
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>{{EventosStream[0]?.fechaEvento}} hs</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Conexión especial, destinada a personas vinculadas al circuito gastronómico, comercial, de turismo y también a periodistas y medios de comunicación de Córdoba y Argentina. Previamente, cada uno de ellos recibió en su domicilio un box con productos para
                            poder realizar la cata de quesos guiada por el chef cordobés Andres Chaijale y el experto en quesos, Gustavo Cifre. El objetivo, mostrar la explosión de sensaciones que pueden causar, por calidad y aromas, los quesos que producen
                            las pymes de Córdoba.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm centerCards p-0" (click)="openStream(1)">
                <!-- CARD 2 -->
                <div class="card mx-auto border-0">
                    <img class="card-img-top" src="../../../assets/images/TRANSMISIÓN  (1).png" alt="cheese1">

                    <!-- TITULO IMAGEN -->
                    <div class="orderTextOfImage">
                        <h3>Horario de conexión</h3>
                        <span>16/12</span>
                        <span>{{EventosStream[1]?.fechaEvento}} hs</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text">De la mano del chef cordobés Andres Chaijale y el especialista en quesos de la ESIL, Gustavo Cifre; los invitamos a desafiar los cinco sentidos en una master class inolvidable. Para aquellos interesados en realizar la propuesta,
                            las recetas que desarrollará serán: 1) Scones de queso duro y con ojos, bondiola curada y tomates asados. 2) Provoleta a la parrilla con una suave salsa criolla y rúcula. 3) Arepas de queso y pepperoni.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="footer" class="container-fluid fixed-bottom wh-100">
            <div class="footer">
                <div style="text-align: center;">
                    <img class="logoInit" src="../../../assets/images/logos APYM MAYG GOB-01 - BLANCOS.png">
                </div>
                <span>Powered by IT LABS®</span>
            </div>
        </div>


        <!-- Modal -->
        <form [formGroup]="formCodigo" (ngSubmit)="openStream(0)">
            <div #modalCodigo class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title" id="exampleModalCenterTitle">CATA DE QUESOS</h5>
                        </div>
                        <div class="modal-body">
                            <p class="font-weight-normal text-break textCodigos">
                                Inserte aquí el código de invitación.
                            </p>
                            <input formControlName="codigoIngreso" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <small *ngIf="msjErrorValidCodigo != ''" class="txtError">{{msjErrorValidCodigo}}</small>
                        <div class="modal-footer" style="align-items: center;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                            <button type="submit" class="btn btn-warning" [disabled]="formCodigo.invalid">INGRESAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- TOAST -->
        <!-- <button (click)="Toast()">Shooow</button> -->
    </div>