.container-fluid {
    max-width: 600px;
    margin: 25px auto;
    text-align: center;
}

.font-weight-bolder {
    font-size: 23px;
}

.font-italic {
    font-size: 20px;
}

.bi-person-x-fill {
    margin-left: 10px;
}