.containStream {
  background-image: url('../../../assets/images/fondoConQuesos.jpg');
  background-size: cover;
}

.containerLogosAcompañantes {
  padding-bottom: 18px;
}

.fondoNosAcompañan {
  background-color: #343a40;
}

.textTitle {
  color: white;
}

.fondoLogos {
  background-color: white;
  border-radius: 100%;
  height: 100px !important;
  max-width: 100px;
  margin: 10px auto;
  text-align: center;
  display: block;
}

.outer {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#player {
  --plyr-color-main: #EE4323;
  width: 700px;
  height: auto;
}

#player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logoAcompañan {
  width: 68px;
  height: 68px;
  margin: 17px auto;
  vertical-align: middle;
}

.card {
  margin: 25px 10px 10px 10px;
  width: 290px;
  height: 500px;
  float: left;
  position: relative;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 15px;
  text-align: left;
}

.containerFlex {
  display: flex;
  flex-wrap: wrap;
}

.card-img-top {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.containerCard {
  max-width: 1580px;
  text-align: center;
  margin: 0 auto;
}

.cartadequesos {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
}

.font-weight-bolder {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
}

.textoCata {
  align-items: center;
  text-align: justify;
  margin: 10px auto;
  max-width: 55rem;
  font-size: 22px;
}

.tablaStyle {
  max-width: 500px;
}

.seccionRecetas {
  & h4 {
    font-family: 'Corben', cursive;
  }
}

.preparacionReceta {
  text-align: justify;
  padding: 20px;

  & h4 {
    font-family: 'Corben', cursive;
  }
}

.cardsEventosPasados {
  width: 450px;
  max-height: 18rem;
}

.cardEdicionPasada {
  color: #e8be33;
  font-weight: bold;
  font-size: 21px;
}

.contenedor-chat {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.right-corner-container {
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: right;
  right: 20px;
  bottom: 45px;
}

.right-corner-container .right-corner-container-button {
  height: 57px;
  width: 57px;
  border: none;
  background-color: #e8be33;
  border-radius: 62px;
  /*Transform the square into rectangle, sync that value with the width/height*/
  transition: all 300ms;
  /*Animation to close the button (circle)*/
  //box-shadow: 2px 2px 5px #4C4C4C;
  cursor: pointer;
}

.right-corner-container .right-corner-container-button:hover {
  transition: all 400ms cubic-bezier(.62, .1, .5, 1);
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and(max-width: 613px) {
  .containerCard {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-wodth:525px) {
  .contenedor-chat {
    padding: 0px;
  }
}

@media screen and(max-width:1546px) {
  .containerCard {
    max-width: 1250px;
  }

  .cardsEventosPasados {
    width: 450px;
  }
}

@media screen and(max-width:1025px) {
  .containerCard {
    max-width: 930px;
  }

  .cardsEventosPasados {
    width: 350px;
  }
}

@media screen and(max-width:769px) {
  .cardsEventosPasados {
    width: 290px;
  }
}
