<div class="seccionGanadores">

  <div class="titleGanadores">
    <h3>1° CONCURSO DE QUESOS DE LA PROVINCIA DE CÓRDOBA</h3>
    <h2>GANADORES</h2>
    <hr style="border-color:white; width:50%">


  </div>

  <div class=" d-flex justify-content-center">      
      <div class="table-responsive  contenedorTablas">
        <!-- ///// -->
     
     
        <h2 class="titleTable">CATEGORÍAS QUESOS BLANDOS</h2>

        <!--TABLA 1-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Queso</th>
            <th scope="col">Puntaje</th>
            <th scope="col">Empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Primero</th>
            <td>CUATIROLO</td>
            <td>99,47</td>
            <td>ESTABLECIMIENTO DON BOSCO</td>
          </tr>
          <tr>
            <th scope="row">Segundo</th>
            <td>POR SALUT </td>
            <td>99,33</td>
            <td>LACTEAR S.A</td>
          </tr>
          <tr>
            <th scope="row">Tercero</th>
            <td>TALEGGIO</td>
            <td>98,44</td>
            <td>LACTEOS DON SANTIAGO</td>
          </tr>
        </tbody>
      </table>

      <h2 class="titleTable">CATEGORÍA QUESOS SEMIDUROS SIN OJOS</h2>

        <!--TABLA 2-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>TYBO</td>
                <td>98,97</td>
                <td>UCALAC S.A</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>TYBO</td>
                <td>98,46</td>
                <td>LCA SRL</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>DANBO</td>
                <td>97,34</td>
                <td>LACTEOS CAPILLA DEL SEÑOR</td>
              </tr>
            </tbody>
          </table>

          <h2 class="titleTable">CATEGORÍAS QUESOS SEMIDUROS CON OJOS</h2>

          <!--TABLA 4-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>GRUYERITO</td>
                <td>97,85</td>
                <td>LACTEOS TIO PUJIO</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>CRIOLLO</td>
                <td>96,86</td>
                <td>LACTEO TIO PUJIO</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>FONTINA</td>
                <td>96,30</td>
                <td>COOP ARROYO CABRAL</td>
              </tr>
            </tbody>
          </table>

          <!--SUBCATEGORIAS-->

        <h2 class="titleTable">CATEGORÍAS QUESOS DUROS SUBCATEGORÍA A</h2>

          <!--TABLA 5-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>SARDO</td>
                <td>99,59</td>
                <td>UCALAC S.A</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>PROVOLONE</td>
                <td>98,90</td>
                <td>COOP SAN ISIDRO</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>SARDO</td>
                <td>97,29</td>
                <td>COTAHUA S.A</td>
              </tr>
            </tbody>
          </table>

          <h2 class="titleTable">CATEGORÍAS QUESOS DUROS SUBCATEGORÍA B</h2>

          <!--TABLA 6-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>REGGIANITO</td>
                <td>96,35</td>
                <td>LATTAY</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>SB RINZ</td>
                <td>92,57</td>
                <td>LACTEOS TIO PUJIO</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>REGGIANITO</td>
                <td>91,53</td>
                <td>COOP ARROYO CABRAL</td>
              </tr>
            </tbody>
          </table>
    
          <h2 class="titleTable">CATEGORÍAS QUESOS HILADOS</h2>

          <!--TABLA 7-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>MOZZARELLA LIGHT</td>
                <td>97,41</td>
                <td>LACTEOS CAPILLA DEL SEÑOR</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>MOZZARELLA</td>
                <td>96,25</td>
                <td>LA PAULA</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>MOZZARELLA</td>
                <td>95,83</td>
                <td>LACTEOS CAPILLA DEL SEÑOR</td>
              </tr>
            </tbody>
          </table>
    
          <h2 class="titleTable">CATEGORÍAS QUESOS AZULES</h2>

          <!--TABLA 8-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>AZUL</td>
                <td>97,86</td>
                <td>SAVAZ SRL</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>AZUL</td>
                <td>96,54</td>
                <td>LACTEOS TORO PUJIO</td>
              </tr>
              
            </tbody>
          </table>

          <h2 class="titleTable">CATEGORÍAS QUESOS CORTEZA ENMOHECIDA</h2>

          <!--TABLA 9-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>BRIE</td>
                <td>98,30</td>
                <td>QUESOS ESPECIALES SRL</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>CAMEMBERT</td>
                <td>93,60</td>
                <td>QUESOS ESPECIALES SRL</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>BRIE</td>
                <td>92,20</td>
                <td>ESTABLECIMIENTO LA LAGUNA</td>
              </tr>
            </tbody>
          </table>
    
          <h2 class="titleTable">CATEGORÍAS QUESOS SABORIZADOS Y FUNCIONALES</h2>

          <!--TABLA 10-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>FARCELL</td>
                <td>100</td>
                <td>FRUIT DU LAIT</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>BARRA SABORIZADO</td>
                <td>96,84</td>
                <td>DON BOSCO</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>MARBLED</td>
                <td>96,80</td>
                <td>LÁCTEOS PREMIUM</td>
              </tr>
            </tbody>
          </table>
    
          <h2 class="titleTable">CATEGORÍAS  QUESOS LECHES FINAS</h2>

          <!--TABLA 10-->
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Queso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Empresa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Primero</th>
                <td>CREMOSO DE CABRA</td>
                <td>98,38</td>
                <td>LA COLORADA</td>
              </tr>
              <tr>
                <th scope="row">Segundo</th>
                <td>SAINTE MAURE</td>
                <td>95,75</td>
                <td>ALQUERIA SANTA OLALLA</td>
              </tr>
              <tr>
                <th scope="row">Tercero</th>
                <td>CROTTIN</td>
                <td>95,25</td>
                <td>ALQUERÍA SANTA OLALLA</td>
              </tr>
            </tbody>
          </table>
    

    </div>

  </div>
