// #navbarSupportedContent {
//     text-align: right;
// }
.nav-item {
    font-weight: bold;
    color: white;
    margin-right: 18px;
}

.nav-link:hover {
    color: #e8be33 !important;
}

.modal-title {
    font-weight: bold;
    align-items: center;
}